body {
    background-color: #F7F8EA;
  }
  
h1,
.about-text h2 {
    color: #8C602D;
  }
  
p,
.category-heading h1,
.about-text h1,
.info-item1 h2, .info-item2 h2, .info-item3 h2,
.info-item1 p, .info-item2 p, .info-item3 p,
.best-sellers-header h1, .product-details h1,
.counter span, .ingredients-header h1,
.reviews-header h1, .review h1, .profile h1,
.cart-bar h1, .order-summary h1, .order-details-button a,
.confirmation h1 {
    color: #303030;
}

.overlay-text h1,
.overlay-text h2,
.overlay-text p,
.mobile-footer-header h1{
    color: white;
}

.product-info {
  color: #717171;
}

.product-price {
  color: #444343;
}

.footer-contact h1,
.footer-socials h1,
.footer-info p {
  color: white;
}

footer {
  background-color: #858F7E;
  color: white;
}

.footer-nav a {
  text-decoration: none;
  color: white;
}

.addtocart,
.fa-cart-plus {
  background:#C3D9DE;
}

.pretext{
  color:#454545;
  background:#C3D9DE;
}

.posttext,
.fa-check,
.done,
.checkout-button {
  background:#FFB9D2;
}

nav, .sidebar {
  background-color: #e6dbc9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.sidebar {
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.nav-bar > a,
.sidebar > a{
  color: #8C602D;
  text-decoration: none;
  }

.shop-now {
  background-color: #C8A36F;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); 
}

.button-dogs {
  background-color: rgba(255, 206, 206, 0.62);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); 
}

.button-cats {
  background-color: rgba(255, 206, 206, 0.4);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); 
}

.button-fish {
  background-color: rgba(255, 206, 206, 0.66);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); 
}

.button-others {
  background-color: rgba(255, 206, 206, 0.61);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); 
}

.product-button {
  background-color: rgba(206, 222, 195, 1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); 
}

.small-square {
  background-color: #ADCB99;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.main-product {
  background-color: #CEDEC3;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.size-circle-container {
  background-color: #F6E0C1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.size-circle-container:hover {
  background-color: #d8c1a1;
}

.size-circle-container.active {
  background-color: #C8A36F;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.counter input {
  color: #303030;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.more-info-button button {
  background-color: #EFEFEF;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.big-circle1 {
  background-color: #edb9f5a9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.big-circle2 {
  background-color: #f3d74a57;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.big-circle3 {
  background-color: #c598ff9e;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.review {
  background-color: #cedec3a3;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Product List Page*/
.catergory-heading h2 {
  color: #303030;
  margin-bottom: 10px;
}

.filter-sub-heading li a.no-underline {
  text-decoration: none;
}

.type-button{
  background-color: #ADCB99;
  color: #FFFFFF;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.sort-button{
  background-color: #9AB687;
  color: #FFFFFF;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.type-button:hover {
  background-color: #A0B790;
  color: #FFFFFF;
}

.size-button {
  background-color: #858F7E;
  color: #FFFFFF;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.size-button:hover {
  background-color: #6A7264;
  color: #FFFFFF;
}

.confirm-button {
  background-color: #FFC2D7;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.brand-select {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.category-selection li a, .back-to-shopping a {
  color: #717171;
}

.category-selection li a.no-underline {
  text-decoration: none;
  color: #717171;
}

.category-selection li a:hover {
  color: #303030; 
}

.filter-square {
  background-color: #EBF0DF
}

.dog-product-list-header h1{
  color: #303030
}

.dog-product-square, .payment-method button, .order-details-button {
  background-color: #CEDEC3;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.payment-method button:active {
  background-color: #89a278;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.payment-method button:hover {
  background-color: #A4BF91;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.7s;  
}

.payment-method button.active {
  background-color: #89a278;
}

.dog-products-product-button {
  background-color: rgba(206, 222, 195, 1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); 
}
.dog-products-info {
  color: #717171;
}
.dog-products-product-price {
  color: #444343;
}

.circle {
  background-color: #F6FEF2;
}

.circle-normal {
  background-color: #CEDEC3;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border: 2px solid #A4BF91; 
}

.circle-darkened {
  background-color: #A4BF91;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border: 2px solid #CEDEC3; 
}

.circle-darkened p, .circle-brown-darkened p {
  color: white;
}

.circle-brown-darkened {
  background-color: #C8A36F;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border: 2px solid #EFE4D3; 
}

.card-part select {
  background-color: #E0E0E0; 
  border: 1px solid #C1C1C1; 
  color: #5C5C5C;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.card-part select option[value="placeholder"] {
  color: #b1b1b1;
}

.card-part input::placeholder,  .card-ccv input::placeholder {
  color: #bababa;
}