body {
    background-color: #F7F8EA;
  }
  
h1 {
    color: #8C602D;
  }
  
p {
    color: #303030;
  }

nav {
  background-color: #e6dbc9;
}

.nav-bar > a{
  color: #8C602D;
  text-decoration: none;
  }

.overlay-text h1 {
  color: white;
}

.overlay-text h2 {
    color: white;
}

.overlay-text p {
    color: white;
}

.shop-now {
  background-color: #C8A36F;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); 
}

.category-heading h1 {
  color: #303030;
}

.button-dogs {
  background-color: rgba(255, 206, 206, 0.62);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); 
}

.button-cats {
  background-color: rgba(255, 206, 206, 0.4);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); 
}

.button-fish {
  background-color: rgba(255, 206, 206, 0.66);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); 
}

.button-others {
  background-color: rgba(255, 206, 206, 0.61);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); 
}

.about-text h1 {
  color: #303030;
}

.about-text h2 {
  color: #8C602D;
}

.info-item {
  color: #303030;
}

footer {
  background-color: #858F7E;
  color: white;
}

.footer-nav a {
  text-decoration: none;
  color: white;
}

.footer-contact h1 {
  color: white;
}