.yeseva-one-regular {
  font-family: 'Yeseva One', serif;
  font-weight: 100;
  font-style: normal;
}

.koho-semibold {
  font-family: 'KoHo', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.palanquin-dark-regular {
  font-family: "Palanquin Dark", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body, h1, .filter.heading h2 {
    font-family: 'Yeseva One';
  }

h2,
.nav-bar > a {
    font-family: 'Palanquin Dark';
  }
  
p, .product-detail-selection,.filter-sub-heading ,.type-button,
 .size-button, .brand-select, .confirm-button, .cart-item-info,
  .cart-item-info h2, .page-number,  .sort-button-mobile, .filter-button {
    font-family: 'KoHo';
  }

  .sort-button-desktop{
    font-family: 'KoHo';
    font-size: 1em;
  }
.overlay-text-header h1 {
  font-family: 'Palanquin Dark';
  font-size: 3em;
  letter-spacing: 0.4em;
}

.overlay-text-header h2 {
  letter-spacing: 0.3em;
  font-size: 2em;
}

.overlay-text-sub p {
  letter-spacing: 0.02em;
  font-size: 1.2em;
}

.shop-now, .info-item1 p, .info-item2 p, .info-item3 p, 
.posttext,
.delivery-method-button label, .address-button label,
.card-part select, .card-part input::placeholder,
.card-ccv input::placeholder, .name-part input::placeholder {
  font-family: 'KoHo';
  font-size: 1em;
}

.category-heading h1 {
  letter-spacing: 0.02em;
  font-size: 2em;
}

.button-label {
  font-family: 'KoHo';
  font-size: 1.2em;
}

.about-text h1 {
  font-size: 6em;
  letter-spacing: 0.3em;
}

.about-text h2 {
  font-family: 'Yeseva One';
  font-size: 5.5em;
  letter-spacing: 0.4em;
}

.about-us-desc p {
  font-size: 1.1em;
}

.info-item1 h2, .info-item2 h2, .info-item3 h2 {
  font-family: 'Yeseva One';
  font-size: 1.4em;
}

.footer-nav a, .mobile-footer-header h1 {
  font-family: 'Yeseva One';
  font-size: 2em;
}

.contact-details {
  font-family: 'KoHo';
  letter-spacing: 0.04em;
}

.socials-details {
  font-family: 'KoHo';
  letter-spacing: 0.04em;
}

.product-info, .product-list-info-desktop {
  font-family: 'KoHo';
  letter-spacing: 0.02em;
}

.product-details h1,
.product-detail-price h2,
.subtotal h1, .suggestion h1,
.checkout-header h2, .confirmation h2,
.order-details-button a, .payment-summary-details h1,
.payment-summary-details h3, .best-sellers-header h1 {
  font-family: 'KoHo';
  font-size: 2em;
}

.counter input, .quantity h3, .card-part input, .card-ccv input,
.card-part select, .confirmation p, .name-part input, .payment-summary-details p,
.big-circle-container p, .more-info-button button, #description, #recommendation,
#shipping {
  font-family: 'KoHo';
  font-size: 1.3em;
}

.pretext, .big-circle-container h2, .review h1,
.progress-bar p, .checkout-part h2, .circle-brown-darkened p,
.payment-method p, .card-part label, .card-ccv label, .back-to-shopping a,
.size-circle-container label, .name-part label, .payment-summary-details h2, .address-button ul li {
  font-family: 'KoHo';
  font-size: 1.5em;
}

.ingredients-header {
  font-family: 'Yeseva One';
  letter-spacing: 0.05em;
}

.reviews-header h1 {
  font-weight: 200;
}

.filter-sub-heading {
  text-decoration: underline
}

.mobile-footer-header h1,
.footer-info p {
  font-weight: 100;
}

.price-line p, .price-line h2, .delivery-method h2,
.checkout-text, .product-detail-selection h3 {
  font-family: 'KoHo';
  font-size: 1.5em;
}

.confirmation h1 {
  font-size: 3em;
  letter-spacing: 0.2em;
}

@media (max-width: 391px) {
  .overlay-text-header h1 {
    font-size: 3em;
    letter-spacing: 0.2em;
  }
  .overlay-text-sub p, .counter input, .info-item1 h2, 
  .info-item2 h2, .info-item3 h2, .order-details-button a, 
  .back-to-shopping a, .product-detail-selection h3,
  .size-circle-container label, .counter span, #description,
  #recommendation, #shipping {
    font-size: 1em;
  }
  .category-heading h1 {
    letter-spacing: 0.02em;
    font-size: 1.6em;
  }
  .product-header h1, .card-part label, .payment-method p, .checkout-part h2,
  .address-button ul li, .card-ccv label {
    font-size: 1.3em;
  }
  .big-circle-container h2, .more-info-button button {
    font-size: 1.1em;
  }
  .product-detail-price h2, .cart-item-info h2 {
    font-size: 1.4em;
  }
  .footer-info p, .card-ccv input::placeholder {
    font-size: 0.8em;
  }
  .confirmation h1 {
    font-size: 2em;
    letter-spacing: 0.1em;
  }
  .confirmation h2, .checkout-header h2 {
    font-size: 1.5em;
  }
  .confirmation p {
    font-size: 0.9em;
  }
  .big-circle-container p {
    font-size: 0.8em;
  }
  .ingredients-header h1 {
    font-size: 1.7em;
  }
}

/*Dog Product List - Mobile plz dont reorganise this if not i cannot find it T_T*/
@media (max-width: 391px){
  .dog-product-list-header {  
      font-size: 0.8em;
  }

 .product-list-info-mobile{
    font-family: 'KoHo';
    font-size: 0.8em;
    letter-spacing: 0.01em;
  }
  .sort-button-mobile, .filter-button {
    font-size: 0.8em;
  }

 
}


.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}