.yeseva-one-regular {
  font-family: 'Yeseva One', serif;
  font-weight: 100;
  font-style: normal;
}

.koho-semibold {
  font-family: 'KoHo', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.palanquin-dark-regular {
  font-family: "Palanquin Dark", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
    font-family: 'Yeseva One';
  }
  
h1 {
    font-family: 'Yeseva One';
  }

h2 {
    font-family: 'Palanquin Dark';
  }
  
p {
    font-family: 'KoHo';
  }

.nav-bar > a{
  font-family: 'Palanquin Dark';
  }

.overlay-text-header h1 {
  font-family: 'Palanquin Dark';
  font-size: 3em;
  letter-spacing: 0.4em;
  }

.overlay-text-header h2 {
  letter-spacing: 0.3em;
  font-size: 2em;
}

.overlay-text-sub p {
  letter-spacing: 0.02em;
  font-size: 1.2em;
}

.shop-now {
  font-family: 'KoHo';
  font-size: 1em;
}

.category-heading h1 {
  letter-spacing: 0.02em;
  font-size: 2em;
}

.button-label {
  font-family: 'KoHo';
  font-size: 1.2em;
}

.about-text h1 {
  font-size: 6em;
  letter-spacing: 0.3em;
}

.about-text h2 {
  font-family: 'Yeseva One';
  font-size: 5.5em;
  letter-spacing: 0.4em;
}

.about-us-desc p {
  font-size: 1.1em;
}

.info-item h2 {
  font-family: 'Yeseva One';
  font-size: 1.4em;
}

.info-item p {
  font-size: 1em;
}

.footer-nav a {
  font-family: 'Yeseva One';
  font-size: 2em;
}

.contact-details {
  font-family: 'KoHo';
  letter-spacing: 0.04em;
}

.socials-details {
  font-family: 'KoHo';
  letter-spacing: 0.04em;
}

.product-info {
  font-family: 'KoHo';
  letter-spacing: 0.02em;
}

.product-details h1{
  font-family: 'KoHo';
  font-size: 2em;
}

.product-detail-price h2 {
  font-family: 'KoHo';
  font-family: 2em;
}

.product-detail-selection {
  font-family: 'KoHo';
}

.counter input {
  font-family: 'KoHo';
  line-height: 1.5em;
  font-size: 1.3em;
  text-align: center;
}

.pretext {
  font-family: 'KoHo';
  font-size: 1.5em;
}

.posttext {
  font-family: 'KoHo';
  font-size: 1em;
}

.more-info-button button {
  font-family: 'KoHo';
  font-size: 1em;
}

.ingredients-header {
  font-family: 'Yeseva One';
  letter-spacing: 0.05em;
}

.big-circle-container h2{
  font-family: 'KoHo';
  font-size: 1.5em;
}

.big-circle-container p {
  font-family: 'KoHo';
  font-size: 1em;
  text-align: center;
}

.reviews-header h1 {
  font-weight: 200;
}

.review h1 {
  font-family: 'KoHo';
  font-size: 1.5em;
}

/*Product List*/
.catergory.heading h2 {
  font-weight: bold;
  font-family: 'Yeseva One';
}

.filter.heading h2 {
  font-weight: bold;
  font-family: 'Yeseva One';
}

.filter-square button {
  font-family: 'KoHo';
}

.dog-products-info {
  font-family: 'KoHo';
  letter-spacing: 0.02em;
}