.yeseva-one-regular {
  font-family: 'Yeseva One', serif;
  font-weight: 100;
  font-style: normal;
}

.koho-semibold {
  font-family: 'KoHo', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.palanquin-dark-regular {
  font-family: "Palanquin Dark", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body, h1, .filter.heading h2 {
    font-family: 'Yeseva One';
  }

h2,
.nav-bar > a {
    font-family: 'Palanquin Dark';
  }
  
p, .product-detail-selection,.filter-sub-heading ,.type-button,
 .size-button, .brand-select, .confirm-button, .cart-item-info,
  .cart-item-info h2 {
    font-family: 'KoHo';
  }

  .sort-button {
    font-family: 'KoHo';
    font-size: 1em;
  }
.overlay-text-header h1 {
  font-family: 'Palanquin Dark';
  font-size: 3em;
  letter-spacing: 0.4em;
}

.overlay-text-header h2 {
  letter-spacing: 0.3em;
  font-size: 2em;
}

.overlay-text-sub p {
  letter-spacing: 0.02em;
  font-size: 1.2em;
}

.shop-now, .info-item1 p, .info-item2 p, .info-item3 p, 
.posttext, .more-info-button button, .big-circle-container p,
.delivery-method-button label, .address-button label,
.card-part select, .card-part input::placeholder,
.card-ccv input::placeholder {
  font-family: 'KoHo';
  font-size: 1em;
}

.category-heading h1 {
  letter-spacing: 0.02em;
  font-size: 2em;
}

.button-label {
  font-family: 'KoHo';
  font-size: 1.2em;
}

.about-text h1 {
  font-size: 6em;
  letter-spacing: 0.3em;
}

.about-text h2 {
  font-family: 'Yeseva One';
  font-size: 5.5em;
  letter-spacing: 0.4em;
}

.about-us-desc p {
  font-size: 1.1em;
}

.info-item1 h2, .info-item2 h2, .info-item3 h2 {
  font-family: 'Yeseva One';
  font-size: 1.4em;
}

.footer-nav a {
  font-family: 'Yeseva One';
  font-size: 2em;
}

.contact-details {
  font-family: 'KoHo';
  letter-spacing: 0.04em;
}

.socials-details {
  font-family: 'KoHo';
  letter-spacing: 0.04em;
}

.product-info, .dog-products-info {
  font-family: 'KoHo';
  letter-spacing: 0.02em;
}

.product-details h1,
.product-detail-price h2,
.subtotal h1, .suggestion h1,
.checkout-header h2, .confirmation h2,
.order-details-button a {
  font-family: 'KoHo';
  font-size: 2em;
}

.counter input, .quantity h3, .card-part input, .card-ccv input,
.card-part select, .confirmation p {
  font-family: 'KoHo';
  font-size: 1.3em;
}

.pretext, .big-circle-container h2, .review h1,
.progress-bar p, .checkout-part h2, .circle-brown-darkened p,
.payment-method p, .card-part label, .card-ccv label, .back-to-shopping a {
  font-family: 'KoHo';
  font-size: 1.5em;
}

.ingredients-header {
  font-family: 'Yeseva One';
  letter-spacing: 0.05em;
}

.reviews-header h1 {
  font-weight: 200;
}

.filter-sub-heading {
  text-decoration: underline
}

.mobile-footer-header h1,
.footer-info p {
  font-weight: 100;
}

.price-line p, .price-line h2, .delivery-method h2,
.checkout-text {
  font-family: 'KoHo';
  font-size: 1.5em;
}

.confirmation h1 {
  font-size: 3em;
  letter-spacing: 0.2em;
}

@media (max-width: 391px) {
  .overlay-text-header h1 {
    font-size: 3em;
    letter-spacing: 0.2em;
  }
  .overlay-text-sub p {
    font-size: 1em;
  }

  .category-heading h1 {
    letter-spacing: 0.02em;
    font-size: 1.6em;
  }

  .info-item1 h2, .info-item2 h2, .info-item3 h2 {
    font-size: 1em;
  }
  .footer-info p {
    font-size: 0.8em;
  }
}
