* {
    box-sizing: border-box;
}

.button {
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/*line separator*/
.separator {
    border: none; 
    border-top: 1px solid #A9A9A9; 
    width: 50%;
    margin-top: 3em;
    margin-bottom: 1.8em; 
}

.circle-container {
    display: flex;
    align-items: center;
    padding: 2%;
}

.circle, .circle-normal, .circle-darkened,
.circle-brown-darkened {
    width: 4.1em;
    height: 4.1em; 
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.line {
    height: 1px;
    width: 2em;
    background-color: #000;
    margin-right: 10px;
}

.payment-method button {
    width: 14em;
    height: 10em;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

/*page*/
body,
.about-text h1 {
    margin: 0;
}

.overlay-image {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
}

.overlay-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

.overlay-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay-text-header {
    line-height: 1.5em;
}

.overlay-text-header h2,
.info-item h2 {
    margin-bottom: 1em;
}

.overlay-text-sub p {
    line-height: 0.5em;
}

.shop-now {
    margin-top: 2em;
    padding: 1em 4em;
    border-radius: 10px;
    border: none;
}

@media (max-width: 391px) {
    .overlay-image {
        height: 40vh;
    }
    .shop-now {
        margin-top: 1em;
        padding: 1em 3em;
        border-radius: 10px;
        border: none;
    }
}

/*categories section*/
.categories {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-buttons {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.button-container {
    text-align: center;
    margin-top: 2em;
}

.button-dogs,
.button-cats,
.button-fish,
.button-others {
    padding: 2em 4em;
    border-radius: 10px;
    border: none;
}

.category-buttons img, .payment-method img {
    width: 3em;
    height: 3em;
}

.button-label {
    display: block;
    margin-top: 1em;
}

@media (max-width: 391px) {
    .category-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5em;
    }
    .button-container {
        text-align: center;
        margin-top: 1em;
    }
    .button-dogs,
    .button-cats,
    .button-fish,
    .button-others {
        padding: 1em 1em;
        border-radius: 50%;
        border: none;
    }
    .category-buttons img {
        width: 2em;
        height: 2em;
    }
}

/*about us section*/
.about-us {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 2em;
}

.about-us-photo img {
    width: 100%;
    height: auto;
    margin-left: 2em;
}

.about-us-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 3em;
    max-width: 55%;
}

.about-text {
    position: relative;
    display: inline-block;
}

.hr-lines:before {
    content:" ";
    display: block;
    height: 2px;
    width: 200px;
    position: absolute;
    top: 50%;
    left: -30%;
    background: #A9A9A9;
}

.hr-lines{
    position: relative;
    max-width: 500px;
    margin-top: 0;
    left: 30%;
    margin-bottom: 40px;
}

.info-section {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.info-item1, .info-item2, .info-item3 {
    width: 50%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 2em;
}

.info-item1 img, .info-item2 img, .info-item3 img {
    max-width: 3em;
    height: auto;
    margin-bottom: 1em;
}

.info-item1 p, .info-item2 p, .info-item3 p {
    max-width: 90%;
}

@media (max-width: 391px) {
    .about-us-content {
        display: none;
    }
    .about-container {
        display: flex;
        margin-left: 0;
    }
    #about-us {
        margin: 0;
        padding: 0;
    }
    .about-us-photo {
        z-index: 100;
        justify-self: flex-start;
        align-self: center;
    }
    .about-us-photo img {
        content: url('../assets/images/mobile-about-us.png');
        width: 100%;
        height: auto;
        float: left;
        padding: 0;
        margin: 0;
    }
    .info-section {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-wrap: wrap;
        padding: 0.5em;
        margin-bottom: 0.5em;
    }
    .info-item1, .info-item2, .info-item3 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        text-align: center;
        padding: 0;
        margin-right: 30%;
        margin-bottom: 0.1em;
    }
    .info-item1 h2, .info-item2 h2, .info-item3 h2 {
        margin-bottom: 0.2em;
    }
    .info-item1 p, .info-item2 p, .info-item3 p {
        margin-bottom: 0.5em;
    }
    .info-item1 img, .info-item2 img, .info-item3 img {
        max-width: 2em;
        height: auto;
        margin-bottom: 0.2em;
    }
}

.best-sellers {
    max-width: 100%;
}
.best-sellers-header {
    display: flex;
    align-items: center;
}

.best-sellers-header h1 {
    order: 1;
    flex: 1;
    margin-left: 6%;
}

.hr-line-right {
    order: 2;
    width: 70%;
    margin-right: 6%;
    border: none;
    border-top: 1px solid #A9A9A9;
}

.best-seller-product-list {
    margin-top: 2em;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
    overflow-x: auto; 
}

.best-seller-product {
    display: flex;
    justify-content: flex-start;
    width: 70%;
}

.product-item {
    display: flex;
    flex-direction: column;
    margin-right: 6%;
    max-width: 100%;
    height: 26em;
    flex-wrap: wrap;
    align-items: flex-start;
    overflow-wrap: break-word;
    word-wrap: break-word; 
}

.product-button{
    display: flex;
    margin-top: 25px;
    padding: 0.5em 0.5em;
    width: 14em;
    height: 14em;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: none;
}

.best-seller-product img {
    max-width: 100%;
    max-height: 100%;
}

.product-label {
    display: block;
    max-width: 14em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.product-price {
    display: flex;
    align-items: flex-end;
}

@media (max-width: 391px) {
    .hr-line-right {
        width: 40%;
    }
    .best-seller-product-list {
        margin-top: 0.5em;
    }
}

/* product page */
.navigation-flow {
    margin-left: 6%;
    display: flex;
    align-items: center;
}

.navigation-flow img {
    width: 2em;
    height: 2em;
}

.back-arrow {
    margin-right: 2em;
}

.previous-page {
    margin-right: 2em;
}

.previous-page a {
    text-decoration: none;
}

.product-container {
    display: flex;
    flex-direction: row;
    margin-left: 6%;
}

.product-image {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product-image-list {
    display: flex;
    flex-direction: column;
    margin-right: 3em;
    gap: 1em;
}

.small-square {
    width: 8em;
    height: 8em;
    padding: 1em 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    flex-shrink: 0;
}

.small-square img,
.main-product img {
    max-width: 90%;
    max-height: 90%;
}

.main-product {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26em;
    height: 26em;
    padding: 1em 1em;
    border-radius: 10px;
}

.product-details {
    margin-left: 2em;
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.product-rating {
    margin-top: -4%;
    display: flex;
    flex-direction: column;
}

.stars {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stars img {
    max-width: 40%;
    max-height: 40%;
    margin-right: 2em;
}

.stars a {
    text-decoration: none;
}

.size-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circles {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.product-detail-selection {
    display: flex;
    flex-direction: row;
    gap: 20em;
}

.size-circle-container {
    display: flex;
    width: 4em;
    height: 4em;
    border-radius: 50%; 
    cursor: pointer;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.quantity {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counter {
    width: 150px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter input {
    width: 5em;
    border: 0;
    appearance: none;
    outline: 0;
    text-align: center;
}
.counter span {
    display: block;
    font-size: 25px;
    padding: 0 10px;
    cursor: pointer;
    user-select: none;
}

.add-to-cart {
    display: flex;
    justify-content: center;
    margin-top: 4em;
}

.addtocart{
    display: block;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 100px;
    border: none;
    position: relative;
    cursor: pointer;
    height: 6em;
    width: 30em;
    overflow:hidden;
    transition:transform 0.1s;
    z-index:1;
}

.addtocart:hover{
    transform:scale(1.1);
}

.pretext{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.done {
    position:absolute;
    width:100%;
    top:0;
    left:0;
    transition:transform 0.3s ease;
    transform:translate(-110%) skew(-40deg);
}

.more-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6em;
}

.more-info-button {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    margin-bottom: 3em; 
}

.more-info-button img {
    margin-left: 2em;
    width: 1em;
    height: 1em;
}

.more-info-button button {
    padding: 0.5em 24em;
    border: none; 
    border-radius: 10px;
    cursor: pointer; 
    transition: background-color 0.3s; 
}

#description,
#recommendation,
#shipping {
    max-width: 60%;
    text-align: center;
    text-wrap: break-word;
}

.ingredients {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}

.ingredient-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.big-circle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    text-align: center;
}

.big-circle1,
.big-circle2, 
.big-circle3 {
    width: 16em;
    height: 16em; 
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.big-circle1 img,
.big-circle2 img,
.big-circle3 img {
    width: 10em;
    height: 10em;
}

.ingredient-details p {
    max-width: 80%;
}

.reviews-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em;
}

.reviews {
    margin-left: 7em;
    margin-right: 7em;
    margin-bottom: 5em;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    overflow-x: auto;
}

.reviews-list {
    display: inline-flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 1em;
}

.review {
    padding: 1em 1em;
    margin-right: 1em;
    min-width: 20em;
    min-height: 14em;
    margin-bottom: 2em;
    border-radius: 1em;
    border: none;
}

.review img {
    max-width: 40%;
    max-height: 40%;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile img {
    margin-right: 1em;
    max-width: 10%;
    max-height: 10%;
}

.product-image-mobile, .add-to-cart-mobile {
    display: none;
}

.addtocartmobile:hover{
    transform:scale(1.1);
}

@media (max-width: 391px) {
    .product-image, .add-to-cart {
        display: none;
    }
    .navigation-flow {
        margin-top: 1.5em;
    }
    .add-to-cart-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
    }
    .addtocartmobile{
        display: block;
        padding: 0.5em 1em 0.5em 1em;
        border-radius: 100px;
        border: none;
        position: relative;
        cursor: pointer;
        height: 6em;
        width: 20em;
        overflow: hidden;
        transition:transform 0.1s;
        z-index: 1;
    }
    .product-container {
        margin-left: 1%;
    }
    .product-image-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }
    .main-product {
        width: 10em;
        height: 10em;
    }
    .product-image-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
        margin: 0;
        gap: 0.5em;
        padding-left: 1em;
        padding-right: 1em;
    }
    .small-square {
        width: 3em;
        height: 3em;
        padding: 0;
    }
    .small-square img {
        width: 3em;
        height: auto;
    }
    .product-image-list img {
        width: 1em;
        height: auto;
    }
    .product-details {
        margin-left: 0;
        margin-top: 0;
    }
    .product-rating {
        margin-top: -14%;
    }
    .stars img {
        margin-right: 0.5em;
    }
    .product-detail-price {
        margin-top: -9%;
        margin-bottom: -6%;
    }
    .size-circle-container {
        width: 2.5em;
        height: 2.5em;
        border-radius: 50%; 
    }
    .product-detail-selection {
        display: flex;
        flex-direction: row;
        gap: 2em;
    }
    .counter {
        width: 0;
    }
    .counter input {
        width: 2em;
        height: 2em;
        border-radius: 50%;
    }
    .more-info {
        margin-top: 3em;
    }
    .more-info-button img {
        margin-left: 1em;
    }
    .more-info-button button {
        padding: 0.5em 5em;
    }
    .more-info-button p {
        width: 100%;
    }
    .ingredients {
        margin-top: 0;
    }
    .big-circle-container {
        padding: 1%;
    }
    .big-circle1,
    .big-circle2, 
    .big-circle3 {
        width: 6em;
        height: 6em; 
    }
    .big-circle1 img,
    .big-circle2 img,
    .big-circle3 img {
        width: 4em;
        height: 4em;
    }
    .reviews {
        margin-left: 1em;
        margin-right: 1em;
        margin-bottom: 3em;
        padding: 0.3rem;
    }
    .reviews-list {
        gap: 0.2em;
    }
}


/* Product List Page*/

#product-list-page .categories, #product-list-page .separator, .container-mobile {
    display: none;
}

.dog-product-list-header {
    margin-left: 41.5em;
    margin-top: 2%;
    letter-spacing: 0.5em;
    display: flex;   
}

.product-list-product-desktop {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1em 2.5em;
    width: 70%;
    margin: 0 auto;
}

.container-desktop {
    display: flex;
    gap: 1em;
    max-width: 1398px;
    margin: 0 auto;
    padding: 1em;
}
.filter-section {
    position: relative;
    flex: 0 0 1em;
    flex-direction: column;
}
.filter-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25em;
}
.filter-button {
    display: block;
    width: 100%;
    padding: 0.625em;
    margin-bottom: 0.3125em;
    cursor: pointer;
}
.category-selection {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.category-selection li {
    display: block;
    margin-bottom: 0.625em;
}

.filter-square {
    position: absolute;
    top: 18%;
    left: 20%;
    transform: translateX(-50%);
    width: 15.5em;
    height: 32em; 
    margin-left: 6.25em;
    align-items: stretch;
    z-index: 10;
}
.filter-sub-heading {
    margin-left: 0.5em; 
}

.type-button, .size-button {
    margin: 0.25em; 
    margin-left: 1em; 
    border: none;
    padding: 0.3125em 0.75em;
    border-radius: 0.25em;
    cursor: pointer;
    justify-content: center;
}

.brand-select {
    display: flex;
    margin: 0.25em;  
    margin-left: 1.85em;
    border: none;
    padding: 0.3125em 4.5em;
    border-radius: 0.25em;
    cursor: pointer;
    justify-content: center;
}

.confirm-button {
    margin: 0.25em;
    margin-left: 3em;
    margin-top: 4em;  
    border: none;
    padding: 0.7em 2em;
    border-radius: 0.25em;
    cursor: pointer;
    justify-content: center;
}
.sort-button-desktop {
    margin: 0.25em; 
    margin-left: 9.9em; 
    border: none;
    padding:0.5em 0.7em;
    border-radius: 0.25em;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.dog-product-section {
    display: column;
    white-space: nowrap;
    padding: 1em;
}

.product-list-desktop{
    padding: 0.5rem;
}

.product-list-item-desktop {
    display: grid;
    flex-direction: column;
    max-width: 100%;
    height: 26em;
    overflow-wrap: break-word;
    word-wrap: break-word; 
    align-items: flex-start;
    margin-bottom: 3em;
}

.product-list-product-desktop img {
    max-width: 100%;
    max-height: 100%;
}

.product-list-product-button-desktop{
    display: flex;
    margin-top: 25px;
    padding: 0em;
    margin: 0;
    width: 19em;
    height: 19em;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: none;
}

.product-list-product-label-desktop {
    display: flex;
    max-width: 14em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.product-list-product-price-desktops {
    display: flex;
    flex: 0 0 calc(0% - 0.5em);
    align-items: flex-end;
}

.product-list-info-desktop {
    padding: 0;
    flex: 0 0 calc(0% - 0.5em);
    margin-top: 0;
}

.page-number {
    text-align: center;
}

.page-number ul {
    list-style: none;
}
.page-number ul li {
    display: inline;
    margin-right: 2em;
}

.page-number ul li p {
    display: inline;
    margin: 0;
    padding: 0 2em;
}

@media (max-width: 390px){
    .dog-product-list-header {  
        margin-left: auto; 
        justify-content: center;

    }

    .container-desktop {
        display: none;
    }

    .container-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sort-filter-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5em;
    }
    .sort-button-mobile, .filter-button {
        margin: 0.25em;
        width: 11em;
        height: 3em;
        border: none;
        padding: 0.5em;
        border-radius: 0.25em;
        text-align:center;
    }

    #product-list-page .categories, #product-list-page .separator {
        display: flex;
    }

    .product-list-mobile {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5em;
        padding: 0.5em;
        max-width: 100%;
        margin: 0 auto;
    }

    .product-list-product-mobile {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1.2em;
        padding: 0.5em;
        max-width: 100%;
        margin: 0 auto;
    }
    
    .product-list-item-mobile {
        display: grid;
        flex-direction: column;
        max-width: 100%;
        overflow-wrap: break-word;
        word-wrap: break-word; 
        align-items: flex-start;
        margin-bottom: 2em;
    }
    .product-list-product-button-mobile{
        display: flex;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 1em;
        padding: 0;
        margin: 0;
        width: 10.5em;
        height: 10.5em;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        border: none;
    }
    
    .product-list-product-button-mobile img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 5px;
    }
    
    .product-list-info-mobile {
        text-align: left;
        margin-top: 0;
    }
    
    .product-list-product-label-mobile {
        display: flex;
        max-width: 14em;
        margin-top: 1em;
        margin-bottom: 0.2em;
    }

    .product-list-product-price-mobile {
        display: flex;
        align-items: flex-end;
    }
    .page-number {
        display: flex;
    }
}

/*Filter Bar - Mobile*/
@media (max-width: 390px) {

    #filter-bar .separator {
        border: none; 
        border-top: 1px solid #A9A9A9; 
        width: 100%;
        margin-top: 0.5em;
        margin-bottom: 1.8em; 
    }
    .filter-header {
        margin-top: 2em;
        display: flex;
        align-items: center;
    }
    #filter-bar .back-arrow img{
        margin-left: 6%;
        width: 4em;
        height: auto;
        display: flex; 
    }
    .dog-product-filter-header{
        margin-left: 3.9em;
    }

    .filter-section-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .type-section, .size-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0.5em;
    }

    #filter-bar .type-button, #filter-bar .size-button {
        margin: 0.5em; 
        border: none;
        padding: 0.5em 1.5em;
        border-radius: 0.25em;
        cursor: pointer;
        justify-content: center;
    }

    #filter-bar .confirm-button {
        margin: 0.25em;
        margin-top: 4em;  
        border: none;
        padding: 0.8em 4em;
        border-radius: 0.25em;
        cursor: pointer;
        justify-content: center;
        }

}

/* checkout page */
.progress-bar {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    align-items: center;
}

.checkout-part {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
}

.address-button ul {
    list-style: none;
}
  
.address-button ul li {
    font-size: 1.5em;
}
  
.address-button ul li {
    font-size: 1.5em;
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
}

.checkout-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 2em;
}

.payment-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
}

.payment-method-row {
    display: flex;
    align-items: center;
    gap: 5em;
    margin-bottom: 2%;
    justify-content: center;
}

.payment-method {
    justify-content: center;
    align-items: center;
}

.payment-method img, .payment-method p {
    margin: 0;
}

.name-input {
    display: flex;
    flex-direction: row;
    gap: 6em;
}

.card-part, .card-ccv, .payment-summary-final {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.name-part {
    padding-left: 30%;
    padding-right: 10%;
    align-items: flex-start;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
}

.card-part-input {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.card-part-input input, .card-ccv input {
    margin-bottom: 1em;
    width: 100%; 
}

.card-part-input label, .card-ccv label, .card-part label, .name-part label {
    align-self: flex-start;
    margin-bottom: 0.5em;
}

.card-part-row {
    margin-top: 1em;
    gap: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}
.payment-summary-details {
    width: 40%;
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.card-part input, .card-ccv input, .name-part input {
    line-height: 2em;
    background-color: #F7F8EA;
    border: none;
    border-bottom: 1px solid rgb(113, 113, 113);
}

.card-part select {
    background-color: #E0E0E0; 
    border: 1px solid #C1C1C1; 
    padding: 0.5em;
    font-family: 'KoHo'; 
    font-size: 1em;
    color: #5C5C5C; 
    border-radius: 5px; 
}

.payment-summary-details {
    display: flex;
    flex-direction: row;
}

@media (max-width: 391px) {
    .circle-darkened,
    .circle-brown-darkened,
    .circle-normal {
        width: 3em;
        height: 3em; 
    }
    .progress-bar {
        margin-top: 5%;
    }
    .name-input {
        gap: 2em;
    }
    .name-part {
        padding-left: 10%;
        padding-right: 10%;
    }
    .card-part-input {
        width: 80%;
    }
    .card-part-row {
        gap: 2em;
        padding-left: 10%;
        padding-right: 10%;
        margin-top: 1em;
    }
    .card-part select {
        width: 6em;
    }
    .checkout-part {
        padding-left: 5%;
        padding-right: 5%;
    }
    .address-button ul li {
        font-size: 1.5em;
        display: flex;
        align-items: center;
        margin-bottom: 0.5em;
    }
    .payment-part {
        margin-top: 1em;
    }
    .payment-method-row {
        gap: 1.2em;
        margin-bottom: 7%;
        justify-content: center;
    }
    .payment-method button {
        width: 8em;
        height: 7em;
    }
    .payment-method img {
        width: 2em;
        height: auto;
    }
    .card-part select {
        width: 5em;
        height: auto;
    }
    .checkout {
        margin-bottom: 2em;
    }
    .payment-summary-final {
        margin-bottom: -5%;
    }
    .payment-summary-details {
        width: 80%;
        margin-top: 0;
        margin-bottom: 1em;
    }
}

/* confirmation page */
.confirmation {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.confirmation img {
    width: 20%;
    height: auto;
}

.confirmation h1, .confirmation h2 {
    margin-bottom: 0;
}

.confirmation p {
    width: 30%;
}

.order-details-button {
    margin-top: 1em;
    padding: 1em 4em;
    border-radius: 10px;
    border: none;
}

.order-details-button a, .back-to-shopping a {
    text-decoration: none;
}

.back-to-shopping {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 10em;
}

.back-to-shopping img {
    width: 8%;
    height: auto;
    margin-right: 1em;
}

@media (max-width: 391px) {
    .confirmation {
        margin-top: 42%;
    }
    .confirmation img {
        width: 50%;
    }
    .confirmation p {
        width: 70%;
    }
    .back-to-shopping img {
        width: 10%;
    }
}