* {
    box-sizing: border-box;
}

.button {
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/*line separator*/
.separator {
    border: none; 
    border-top: 1px solid #A9A9A9; 
    width: 50%;
    margin-top: 3em;
    margin-bottom: 1.8em; 
}

.circle-container {
    display: flex;
    align-items: center;
    padding: 2%;
}

.circle {
    width: 4.1em;
    height: 4.1em; 
    background-color: #F6FEF2;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

body,
.about-text h1 {
    margin: 0;
}

.overlay-image {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
}

.overlay-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

.overlay-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay-text-header {
    line-height: 1.5em;
}

.overlay-text-header h2,
.info-item h2 {
    margin-bottom: 1em;
}

.overlay-text-sub p {
    line-height: 0.5em;
}

.shop-now {
    margin-top: 2em;
    padding: 1em 4em;
    border-radius: 10px;
    border: none;
}

/*categories section*/
.categories {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-buttons {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.button-container {
    text-align: center;
    margin-top: 2em;
}

.button-dogs,
.button-cats,
.button-fish,
.button-others {
    padding: 2em 4em;
    border-radius: 10px;
    border: none;
}

.category-buttons img {
    width: 3em;
    height: 3em;
}

.button-label {
    display: block;
    margin-top: 1em;
}

/*about us section*/
.about-us {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 2em;
}

.about-us-photo img {
    width: 100%;
    height: auto;
    margin-left: 2em;
}

.about-us-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 3em;
    max-width: 55%;
}

.about-text {
    position: relative;
    display: inline-block;
}

.hr-lines:before {
    content:" ";
    display: block;
    height: 2px;
    width: 200px;
    position: absolute;
    top: 50%;
    left: -30%;
    background: #A9A9A9;
}

.hr-lines{
    position: relative;
    max-width: 500px;
    margin-top: 0;
    left: 30%;
    margin-bottom: 40px;
}


.info-section {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.info-item {
    width: 50%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 2em;
}

.info-item img {
    max-width: 3em;
    height: auto;
    margin-bottom: 1em;
}

.info-item p {
    max-width: 90%;
}

.best-sellers-header {
    display: flex;
    align-items: center;
}

.best-sellers-header h1 {
    order: 1;
    flex: 1;
    margin-left: 6%;
}

.hr-line-right {
    order: 2;
    width: 70%;
    margin-right: 6%;
    border: none;
    border-top: 1px solid #A9A9A9;
}

.best-seller-product-list {
    margin-top: 2em;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
    overflow-x: auto; 
}

.best-seller-product {
    display: flex;
    justify-content: flex-start;
    width: 70%;
}

.product-item {
    display: flex;
    flex-direction: column;
    margin-right: 6%;
    max-width: 100%;
    height: 26em;
    flex-wrap: wrap;
    align-items: flex-start;
    overflow-wrap: break-word;
    word-wrap: break-word; 
}

.product-button{
    display: flex;
    margin-top: 25px;
    padding: 0.5em 0.5em;
    width: 14em;
    height: 14em;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: none;
}

.best-seller-product img {
    max-width: 100%;
    max-height: 100%;
}

.product-label {
    display: block;
    max-width: 14em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.product-price {
    display: flex;
    align-items: flex-end;
}

/* product page */
.navigation-flow {
    margin-left: 6%;
    display: flex;
    align-items: center;
}

.navigation-flow img {
    width: 2em;
    height: 2em;
}

.back-arrow {
    margin-right: 2em;
}

.previous-page {
    margin-right: 2em;
}

.previous-page a {
    text-decoration: none;
}

.product-container {
    display: flex;
    flex-direction: row;
    margin-left: 6%;
}

.product-image {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product-image-list {
    display: flex;
    flex-direction: column;
    margin-right: 3em;
    gap: 1em;
}

.small-square {
    width: 8em;
    height: 8em;
    padding: 1em 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.small-square img,
.main-product img {
    max-width: 90%;
    max-height: 90%;
}

.main-product {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26em;
    height: 26em;
    padding: 1em 1em;
    border-radius: 10px;
}

.product-details {
    margin-left: 2em;
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.product-rating {
    margin-top: -4%;
    display: flex;
    flex-direction: column;
}

.stars {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stars img {
    max-width: 40%;
    max-height: 40%;
    margin-right: 2em;
}

.stars a {
    text-decoration: none;
}

.size-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circles {
    display: flex;
    flex-direction: row;
}

.product-detail-selection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.size-circle-container {
    width: 2.5em;
    height: 2.5em; 
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    padding: 2%;
    cursor: pointer;
}

.quantity {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counter {
    width: 150px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter input {
    width: 5em;
    border: 0;
    appearance: none;
    outline: 0;
    text-align: center;
}
.counter span {
    display: block;
    font-size: 25px;
    padding: 0 10px;
    cursor: pointer;
    user-select: none;
}

.add-to-cart {
    display: flex;
    justify-content: center;
    margin-top: 4em;
}

.addtocart{
    display: block;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 100px;
    border: none;
    position: relative;
    cursor: pointer;
    height: 6em;
    width: 30em;
    overflow:hidden;
    transition:transform 0.1s;
    z-index:1;
}

.addtocart:hover{
    transform:scale(1.1);
}

.pretext{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.done {
    position:absolute;
    width:100%;
    top:0;
    left:0;
    transition:transform 0.3s ease;
    transform:translate(-110%) skew(-40deg);
}

.more-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6em;
}

.more-info-button {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    margin-bottom: 3em; 
}

.more-info-button img {
    margin-left: 2em;
    width: 1em;
    height: 1em;
}

.more-info-button button {
    padding: 0.5em 24em;
    border: none; 
    border-radius: 10px;
    cursor: pointer; 
    transition: background-color 0.3s; 
}

#description,
#recommendation,
#shipping {
    max-width: 60%;
    text-align: center;
    text-wrap: break-word;
}

.ingredients {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}

.ingredient-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.big-circle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    text-align: center;
}

.big-circle1,
.big-circle2, 
.big-circle3 {
    width: 16em;
    height: 16em; 
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.big-circle1 img,
.big-circle2 img,
.big-circle3 img {
    width: 10em;
    height: 10em;
}

.ingredient-details p {
    max-width: 80%;
}

.reviews-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em;
}

.reviews {
    margin-left: 7em;
    margin-right: 7em;
    margin-bottom: 5em;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    overflow-x: auto;
}

.reviews-list {
    display: inline-flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 1em;
}

.review {
    padding: 1em 1em;
    margin-right: 1em;
    min-width: 20em;
    min-height: 14em;
    margin-bottom: 2em;
    border-radius: 20px;
    border: none;
}

.review img {
    max-width: 40%;
    max-height: 40%;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile img {
    margin-right: 1em;
    max-width: 10%;
    max-height: 10%;
}

/* Product List Page*/
.dog-product-list-header {
    margin-left: 45em;
    margin-top: 2%;
    word-spacing: 3px;
    letter-spacing: 5px;
    display: flex;   
}
.container {
    display: flex;
    gap: 10px;
    max-width: 1200px;
    padding: 20px;
}
.filter-section {
    flex: 1 0 200px;
    padding: 20px;
    flex-direction: column;
    position: relative;
}
.filter-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.filter-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;

}
.category-selection {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.category-selection li {
    display: block;
    margin-bottom: 10px;
}

.filter-square {
    position: absolute;
    top: 62%;
    bottom: -20px;
    left: 12%;
    transform: translateX(-50%);
    width: 250px;
    height: 400px; 
    margin-left: 100px;
    border-radius: 10px;
}
.filter-square button {
    margin: 4px; 
    border: none;
    border-radius: 4px;
}
.select {
    margin-left: 10px; 
    padding: 5px;
    border: none;
}

.dog-product-section {
    flex: 5;
    overflow-x: auto;
    white-space: nowrap;

}
.dog-products-product {
    display: flex;
    width: 70%;
    margin-left: 20%;
    justify-content: flex-start;
    flex-direction: column;
}
.dog-product-list {
    margin-left: 7em;
    margin-right: 7em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
}
.dog-product-list-item {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 26em;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    word-wrap: break-word; 
}

.dog-products-product img {
    max-width: 100%;
    max-height: 100%;
}

.dog-products-product-item {
    display: flex;
    flex-direction: column;
    margin-right: 6%;
    max-width: 100%;
    height: 26em;
    flex-wrap: wrap;
    align-items: flex-start;
    overflow-wrap: break-word;
    word-wrap: break-word; 
}

.dog-products-product-button{
    display: flex;
    margin-top: 25px;
    padding: 0.5em 0.5em;
    width: 14em;
    height: 14em;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: none;
    overflow-y: auto; 
    gap: 20px 
}

.dog-products-product-label {
    display: block;
    max-width: 14em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.dog-products-product-price {
    display: flex;
    align-items: flex-end;
}

