/*navigation bar*/
nav {
    top: 0.7em;
    margin-right: 4%;
    margin-left: 4%;
    border-radius: 40px;
    z-index: 2;
    position: sticky;
}

.navbar-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;    
    align-items: center;
    padding: 0.5rem;
}

main {
    z-index: 1;
    margin-top: 1.4%;
}

.logo {
    margin-left: 3%;
    order: 1;
}

.logo img {
    width: 12em;
    height: 6em;
}

.nav-bar {
    display: flex;
    align-self: center;
    order: 2;
}

.nav-bar > a{
	padding: 1.5rem;
}

.search-input {
    font-family: 'KoHo';
    font-size: 0.4em;
  }
  
.search-input::placeholder {
    font-family: 'KoHo';
    font-size: 0.8em;
}

.icons {
    display: flex;
    justify-content: space-between;
    margin-right: 6%;
    order: 3;
}

.search-container{
    display: flex;
    justify-content: center;
    margin-right: 12%;
    align-items: center;
}

.search-input{
    border: none;
    outline: none;
    width: 12rem;
    height: 2rem;
    line-height: 1.3rem;
    border-radius: 10rem;
    background-color: rgba(244, 236, 247, .3);
    font-size: 1.8rem;
  }

.shopping-cart-button img{
    width: 2em;
    height: 2em;
}

.menu-button {
    display: none;
    order: 2;
    cursor: pointer;
}

.menu-button img {
    width: 2em;
    height: 2em;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    max-width: 250px;
    height: 100%;
    z-index: 1000;
    transition: left 0.3s;
}

.sidebar-logo img {
    width: 10em;
    height: auto;
}

.sidebar a {
    display: block;
    padding: 1em;
    text-decoration: none;
}

.sidebar-icons {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2em 1em;
    gap: 1em;
}

.sidebar-cart {
    display: flex;
    align-items: center;
}

/* Responsive design */
@media (max-width: 390px) {
    .nav-bar, .icons {
        display: none;
    }
    .menu-button {
        display: block;
    }
}