.cart-bar { 
    position: relative; 
    text-align: center;
    align-items: center; 
    margin-top: 4em;
}

.backbutton { 
    position: absolute; 
    left: 1rem; 
    width: 4rem; 
    height: 4rem; 
    margin-left: 3em;
}

.backbutton img {
    width: 70%;
    height: 70%;
}

.cart-item-list {
    display: flex;
    margin-top: 6em;
}

.cart-item {
    display: flex;
    align-items: center;
    border: 1px solid black;
    margin-bottom: 2em;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    justify-content: center;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    margin-left: 3em;
  }
  
  /* Control the right side */
  .right {
    right: 0;
  }

  .centered {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }